/*
 Theme Name:   Twenty Fifteen Child
 Theme URI:    http://discoversurrey.amdev.ca/
 Description:  Discover Surrey Theme
 Author:       Brianna Reid
 Author URI:   http://discoversurrey.amdev.ca/
 Template:     discoversurrey-child
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/

body {
  color:#7b7f83;
}

a {
  color:#7b7f83;
}

h2 {
  font-family:'Faith and Glory Two';
}

#section-gateway h2 {
	margin-top:-60px;
}

#section-gateway a {
	height:120px;
	width:225px;
}

#section-events {
	background-image:url('/wp-content/themes/discoversurrey/images/bg-events-green.jpg');
	background-repeat:repeat;
	background-position:center center;
	padding:2.5rem 0;
	background-size:inherit;
}

#section-header h1 {
  color:#FFF;
  font-family: 'Faith and Glory One';
  text-align:center;
  text-shadow: 1px 1px 3px #000000;
  font-size:4rem;
}

#section-page {
  background-color:#FFF;
  padding:120px 0px 120px 0px;
  background-image: url('/wp-content/themes/discoversurrey/images/bg-intro.jpg');
}

#section-page .accomodation-listing-info {
	background-image: url('/wp-content/themes/discoversurrey/images/bg-listing.jpg');
	padding:60px;
}

#section-page .accommodation-listing {
	margin:20px 0px;
}

#section-page .card {
    background-color: rgba(0, 0, 0, .7);
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section-stories #stories-slide .col-md-4 {
	height:250px;
	position:relative;
}

#section-stories #stories-slide h2, #section-stories #stories-slide h4 {
	font-family:'Faith and Glory Two';
	font-size:24px;
	position:absolute;
	bottom:5px;
	left:5px;
	color:#FFF;
}






.nav > li.dropdown.open {
  position: static;
}

.nav > li.dropdown.open .dropdown-menu {
  display: table;
  border-radius: 0px;
  width: 100%;
  left: 0;
  right: 0;
}

.sub-nav-links ul li {
  display:block;
}

.dropdown-menu {
  border:0px solid;
  padding:0px;
  color:#7b7f83;
  font-size:14px;
}

.dropdown-menu span {
  font-weight: 600;
}

.sub-nav-social img {
  float:right;
  padding-right:5px;
}

.navbar:hover {
    background: rgb(246, 144, 78) !important;
    color:#ffffff;
  }

  .nav-item .dropdown .mega-dropdown .open> .navbar {
    background: rgb(246, 144, 78) !important;
    color:#ffffff;
  }

  .nav > li.dropdown.open .dropdown-menu .card-group {
    margin-top:-5px;
  }

  .nav > li.dropdown.open .dropdown-menu .card {
  border-radius: 0px;
  border:0px solid;
  padding:35px 5px 35px 10px; 
}

.explore-menu {
  background-color:#eceeef;
}

.top-level {
  font-weight:600;
}




/* Footer */

footer {
  color:#afb5ba;
}

footer .row:nth-child(-n+2) {
  padding-bottom:20px;
}

footer span {
  font-weight:600;
}

footer #footer-magazine a img {
  float:right;
}



/* Hover style
********************************/ 
.navbar .nav > li > a, .mega-menu a
 { 
  -webkit-transition: all 200ms ease;
   -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
     -o-transition: all 200ms ease;
        transition: all 200ms ease; 
  
     /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
       -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
       -webkit-transform: translateZ(0);
} 










.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}







@media screen and (min-width: 480px) {
  .navbar-toggleable-sm {
    display:none !important;
  }
}





